<a href="https://colab.research.google.com/github/abkerper/project_gss/blob/main/Project_GSS_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [82]:
df1_og= pd.read_parquet('/content/gss_chunk_1.parquet', engine='pyarrow')
df2_og = pd.read_parquet('/content/gss_chunk_2.parquet', engine='pyarrow')
df3_og = pd.read_parquet('/content/gss_chunk_3.parquet', engine='pyarrow')

In [83]:
df1 = df1_og
df2 = df2_og
df3 = df3_og

In [84]:
df1['age_category'] = df1['age']
df2['age_category'] = df2['age']
df3['age_category'] = df3['age']

In [85]:
for df in [df1, df2, df3]:
  df.loc[(df['age'] >= 18) & (df['age'] <= 29), 'age_category'] = 1
  df.loc[(df['age'] >= 30) & (df['age'] <= 39), 'age_category'] = 2
  df.loc[(df['age'] >= 40) & (df['age'] <= 49), 'age_category'] = 3
  df.loc[(df['age'] >= 50) & (df['age'] <= 64), 'age_category'] = 4
  df.loc[(df['age'] >= 60) & (df['age'] <= 89), 'age_category'] = 5

In [92]:
print(df1['age_category'].describe())
print(df2['age_category'].describe())
print(df3['age_category'].describe())

count    24021.000000
mean         2.907331
std          1.516681
min          1.000000
25%          1.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: age_category, dtype: float64
count    24061.000000
mean         2.991646
std          1.431380
min          1.000000
25%          2.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: age_category, dtype: float64
count    23539.000000
mean         3.279069
std          1.464390
min          1.000000
25%          2.000000
50%          3.000000
75%          5.000000
max          5.000000
Name: age_category, dtype: float64

In [93]:
for df in [df1, df2, df3]:
  df['age'].replace(0, np.nan)
  df['age_category'].replace(0, np.nan)